server:
  port: ${SERVER_PORT:8082}

springdoc:
  api-docs:
    enabled: true
    path: /api/v1/orthodonticBill/api-docs
  swagger-ui:
    enabled: true
    path: /api/v1/orthodonticBill/api-docs/swagger-ui.html

spring:
  application:
    name: ${SERVICE_NAME:OrthodonticBillService}
  profiles:
    active: ${ACTIVE_PROFILE:nitro-dev} #nitro-dev or desktop-dev or macc-prod or nitro-kub-prod
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/DocMACCdbBill
    password: Qwerty.12345 #change this to your database username
    username: root #change this to your database password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.springframework.orm.jpa.vendor.Database.MYSQL
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update # update or create
    properties:
      hibernate:
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        #dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always